*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

input,
button,
textarea {
    font-size: inherit;
    font-weight: inherit;
}

button {
    color: inherit;
    cursor: pointer;
    background-color: inherit;
}

body {
    line-height: 1;
}